# Arquivos e diretórios específicos do PyCharm
.idea/

# Bytecode Python
__pycache__/

# Arquivos de ambiente virtual
venv/
env/
*.pyc

# Arquivos de log
*.log

# Arquivos de saída de testes unitários ou relatórios
test-results/
htmlcov/

# Dependências de pacotes
Pipfile.lock

# Arquivos de configuração locais
*.ini

# Ignore arquivos de configuração do VsCode
.vscode/
*.sublime-project
*.sublime-workspace

# Ignore arquivos de configuração de sistema
*.DS_Store
Thumbs.db
